.wrapper{
   
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
    list-style: none;
    padding: 0;
        
}
.contactCard{
    border-radius: 8px;
    border: 2px solid #555;
    padding: 4px;
}